@import "tailwindcss";

.underline-hover {
    position: relative;
    display: inline-block;
}

.underline-hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0%;
    background-color: currentColor;
    transition: width 0.3s ease;
}

.underline-hover:hover::after {
    width: 100%;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.product-swiper .swiper-button-next,
.product-swiper .swiper-button-prev {
    color: black !important;
}

.product-swiper .swiper-pagination-bullet {
    background-color: white !important;
    border: 1px solid black;
    opacity: 1 !important;
}

.product-swiper .swiper-pagination-bullet-active {
    background-color: black !important;
    border: 1px solid white;
}

.animate-fade-in {
    animation: fade-in-up 0.22s cubic-bezier(.32, 2, .55, .27);
}

@keyframes fade-in-up {
    from {
        opacity: 0;
        transform: translateY(16px);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@layer utilities {
    .animate-float-wiggle {
        animation: floatWiggle 10s ease-in-out infinite;
    }
}

@keyframes floatWiggle {

    0%,
    100% {
        transform: translateY(0) scale(1) rotate(0deg);
    }

    25% {
        transform: translateY(-4px) scale(1.02) rotate(-10deg);
    }

    50% {
        transform: translateY(-6px) scale(1.03) rotate(40deg);
    }

    75% {
        transform: translateY(-4px) scale(1.02) rotate(-10deg);
    }
}

@layer utilities {
    .animate-float {
        animation: float 4s ease-in-out infinite;
    }

}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }
}

@layer utilities {
    .animate-float-big {
        animation: float-big 4s ease-in-out infinite;
    }

}

@keyframes float-big {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-25px);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@layer utilities {
    .animate-fade-in {
        animation: fade-in 0.3s ease-out;
    }
}